{{ form_start(form, {'attr': {'id': 'edit-camera-backup-form'}}) }}
<div class="mb-3">
    {{ form_label(form.dockontrolNode) }}
    {{ form_widget(form.dockontrolNode, {'attr': {'class': 'edit-camera-backup-dockontrol-node'}}) }}
</div>
<div class="mb-3">
    {{ form_row(form.dockontrolNodePayload) }}
</div>
{{ form_widget(form) }}
<span class="validation-invalid-label generic_error d-none">Something went wrong.</span>
<div class="col-md-12 text-end">
    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>
{{ form_end(form) }}
