<tr>
    <td>{{ apiLog.id }}</td>
    <td>{{ apiLog.dockontrolNodeApiKey }}</td>
    <td>{{ apiLog.apiEndpoint }}</td>
    <td>{{ apiLog.reason }}</td>
    <td>{{ apiLog.time.format('Y-m-d H:i:s') }}</td>
    <td>{{ apiLog.ip }}</td>
</tr>