<hr class="my-1">
<footer>
    <ul class="nav d-flex align-items-center justify-content-center rounded">
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_TENANT') %}
            <div class="d-block d-md-none w-100">
                <div class="d-flex justify-content-between py-0">
                    <div class="w-50 d-flex justify-content-end">
                        <span class="nav-link text-muted"><strong>{{ app.user.name }}</strong></span>
                    </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('cp_dashboard') }}" class="nav-link show-underline-hover  text-primary hover-effect w-50 ">
                            <i class="bi bi-shield-lock fs-7"></i> {{ 'dockontrol.footer.menu.admin_panel'|trans }}
                        </a>
                    {% endif %}
                </div>

                <div class="d-flex justify-content-center w-100 py-0">
                    <div class="w-50 d-flex justify-content-end">
                        {% if is_granted('ROLE_ADMIN') and home is defined and home %}
                            <a href="{{ path('dockontrol_main_full_view') }}" class="nav-link show-underline-hover text-primary hover-effect text-end">
                                <i class="bi bi-house-door fs-7"></i>
                                {{ 'dockontrol.footer.menu.full_view'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('dockontrol_main') }}" class="nav-link show-underline-hover text-primary hover-effect text-end">
                                <i class="bi bi-house-door fs-7"></i>
                                {{ 'dockontrol.footer.menu.home'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <a href="{{ path('dockontrol_settings_my_profile') }}" class="nav-link show-underline-hover text-primary hover-effect w-50">
                        <i class="bi bi-gear fs-7"></i> {{ 'dockontrol.footer.menu.settings'|trans }}
                    </a>
                </div>

                <div class="d-flex justify-content-center w-100 py-0">
                    <a href="{{ path('dockontrol_guest_pass') }}" class="nav-link show-underline-hover text-primary hover-effect w-50 text-end">
                        <i class="bi bi-card-list fs-7"></i> {{ 'dockontrol.footer.menu.guest_pass'|trans }}
                    </a>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <a href="{{ impersonation_exit_path(path('cp_access_management_users')) }}" class="nav-link show-underline-hover  text-danger hover-effect w-50 no-wrap">
                            <i class="bi bi-door-open fs-7"></i> {{ 'dockontrol.footer.menu.exit_impersonation'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('dockontrol_logout') }}" class="nav-link show-underline-hover text-danger hover-effect w-50">
                            <i class="bi bi-box-arrow-right fs-7"></i> {{ 'dockontrol.footer.menu.logout'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-center w-100 py-0">
                    <li class="nav-item text-end theme-option w-50 justify-content-end d-flex" data-theme-value="dark">
                        <button type="button" class="nav-link" data-bs-theme-value="dark">
                            <i class="bi bi-moon-stars-fill fs-7"></i>
                            <span class="ms-2 d-lg-none">{{ 'dockontrol.footer.menu.switch_to_dark_mode'|trans }}</span>
                        </button>
                    </li>
                    <li class="nav-item theme-option w-50 justify-content-end d-flex" data-theme-value="light">
                        <button type="button" class="nav-link text-white" data-bs-theme-value="light">
                            <i class="bi bi-sun-fill fs-7"></i>
                            <span class="ms-2 d-lg-none">{{ 'dockontrol.footer.menu.switch_to_light_mode'|trans }}</span>
                        </button>
                    </li>
                    <div class="d-flex justify-content-start w-50">
                        <div class="w-75 form-group border-0 mx-3">
                            <form action="{{ path('pz_change_locale') }}" method="POST">
                                <select class="form-select w-auto" name="locale" onchange="this.form.submit();">
                                    <option value="cs" {% if app.request.locale == 'cs' %} selected {% endif %}>🇨🇿 Čeština</option>
                                    <option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>🇬🇧 English</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none d-md-flex w-100 justify-content-center">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_TENANT') %}
                    <li class="nav-item">
                <span class="nav-link text-muted">
                    <strong>{{ app.user.name }}</strong>
                </span>
                    </li>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <li class="ms-1">
                            <span class="nav-link text-muted">{{ 'dockontrol.footer.menu.impersonated_by'|trans }} <em>{{ app.token.originalToken.user.name }}</em></span>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and home is defined and home %}
                        <li class="ms-1">
                            <a href="{{ path('dockontrol_main_full_view') }}" class="nav-link show-underline-hover  text-primary hover-effect no-wrap">
                                <i class="bi bi-house-door fs-7"></i> {{ 'dockontrol.footer.menu.full_view'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li class="ms-1">
                            <a href="{{ path('dockontrol_main') }}" class="nav-link show-underline-hover  text-primary hover-effect">
                                <i class="bi bi-house-door fs-7"></i> {{ 'dockontrol.footer.menu.home'|trans }}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <li class="ms-1">
                            <a href="{{ path('cp_dashboard') }}" class="nav-link show-underline-hover  text-primary hover-effect">
                                <i class="bi bi-shield-lock fs-7"></i> {{ 'dockontrol.footer.menu.admin_panel'|trans }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="ms-1">
                        <a href="{{ path('dockontrol_settings_my_profile') }}" class="nav-link show-underline-hover  text-primary hover-effect">
                            <i class="bi bi-gear fs-7"></i> {{ 'dockontrol.footer.menu.settings'|trans }}
                        </a>
                    </li>
                    <li class="ms-1">
                        <a href="{{ path('dockontrol_guest_pass') }}" class="nav-link show-underline-hover  text-primary hover-effect">
                            <i class="bi bi-card-list fs-7"></i> {{ 'dockontrol.footer.menu.guest_pass'|trans }}
                        </a>
                    </li>
                    <li class="nav-item theme-option" data-theme-value="dark">
                        <button type="button" class="nav-link" data-bs-theme-value="dark" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ 'dockontrol.footer.menu.switch_to_dark_mode'|trans }}">
                            <i class="bi bi-moon-stars-fill fs-7"></i>
                        </button>
                    </li>
                    <li class="nav-item theme-option" data-theme-value="light">
                        <button type="button" class="nav-link text-white" data-bs-theme-value="light" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ 'dockontrol.footer.menu.switch_to_light_mode'|trans }}">
                            <i class="bi bi-sun-fill fs-7"></i>
                        </button>
                    </li>
                    <div class="form-group border-0 mx-3">
                        <form action="{{ path('pz_change_locale') }}" method="POST">
                            <select class="form-select w-auto choices-select" name="locale" onchange="this.form.submit();">
                                <option value="cs" {% if app.request.locale == 'cs' %} selected {% endif %}>🇨🇿 Čeština</option>
                                <option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>🇬🇧 English</option>
                            </select>
                        </form>
                    </div>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <li class="ms-1">
                            <a href="{{ impersonation_exit_path(path('cp_access_management_users')) }}" class="nav-link show-underline-hover  text-primary hover-effect">
                                <i class="bi bi-door-open fs-7"></i> {{ 'dockontrol.footer.menu.exit_impersonation'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li class="ms-1">
                            <a href="{{ path('dockontrol_logout') }}" class="nav-link show-underline-hover  text-danger hover-effect">
                                <i class="bi bi-box-arrow-right fs-7"></i> {{ 'dockontrol.footer.menu.logout'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% elseif is_granted('ROLE_GUEST') %}
                    <li class="ms-1">
                        <span class="nav-link  text-muted">
                            <strong>{{ 'dockontrol.footer.menu.guest_of'|trans }} {{ app.user.user.name }}</strong>
                        </span>
                    </li>
                    <li class="ms-1">
                        <span class="nav-link  text-muted" data-toggle="tooltip" title="Expires">
                            <i class="bi bi-calendar-event fs-7"></i> {{ 'dockontrol.footer.menu.expires'|trans }} {{ app.user.expires|format('Y-m-d H:i:s') }}
                        </span>
                    </li>
                {% endif %}
            </div>
        {% elseif is_granted('ROLE_GUEST') %}
            <li class="ms-1">
                <span class="nav-link  text-muted">
                    <strong>{{ 'dockontrol.footer.menu.guest_of'|trans }} {{ app.user.user.name }}</strong>
                </span>
            </li>
            <li class="ms-1">
                <span class="nav-link  text-muted" data-toggle="tooltip" title="Expires">
                    <i class="bi bi-calendar-event fs-7"></i> {{ 'dockontrol.footer.menu.expires'|trans }} {{ app.user.expires|format('Y-m-d H:i:s') }}
                </span>
            </li>
        {% endif %}
    </ul>

    <div class="d-flex justify-content-center align-items-center text-center py-2">
        <p class="mb-2 mb-md-0">
            <span class="d-none d-xl-inline">© {{ "now"|date('Y') }} DOCKontrol</span>
            <span class="d-block d-md-inline">v{{ app.request.server.get('DOCKONTROL_VERSION') }}</span>
        </p>
        <ul class="list-unstyled d-flex justify-content-center align-items-center mb-md-0">
            {% if not is_granted('ROLE_GUEST') %}
                <li class="ms-1 me-1">
                    <a href="{{ path('dockontrol_terms_of_service') }}" target="_blank" class="nav-link show-underline-hover hover-effect">
                        <i class="bi bi-file-text fs-7"></i>
                        <span class="d-none d-xl-inline">{{ 'dockontrol.footer.menu.terms_of_service'|trans }}</span>
                    </a>
                </li>
                <li class="ms-1">
                    <a class="text-body show-underline-hover text-decoration-none" target="_blank" href="https://github.com/michnovka/dockontrol">
                        <img src="{{ asset('assets/images/github-icon.svg') }}" class="invert-svg" alt="Github Icon" />
                        <span class="d-none d-xl-inline"> {{ 'dockontrol.footer.menu.github_repo'|trans }}</span>
                    </a>
                </li>
                <li class="ms-1">
                    <a class="text-body show-underline-hover text-decoration-none" href="#">
                        <img src="{{ asset('assets/images/android-icon.svg') }}" class="invert-svg" alt="Android Icon" />
                        <span class="d-none d-xl-inline"> {{ 'dockontrol.footer.menu.android_app'|trans }}</span>
                    </a>
                </li>
            {% else %}
                <li class="ms-1 m-2 w-100">
                    <form action="{{ path('pz_change_locale') }}" method="POST">
                        <select class="form-select w-100 choices-select" name="locale" onchange="this.form.submit();">
                            <option value="cs" {% if app.request.locale == 'cs' %} selected {% endif %}>🇨🇿 Čeština</option>
                            <option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>🇬🇧 English</option>
                        </select>
                    </form>
                </li>
            {% endif %}

        </ul>
    </div>
</footer>
