{% extends 'pz/pz_base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block logincontent %}
    <div class="page-content">
        <div class="content container-md pt-0 d-flex justify-content-center">
                <div class="card mb-0 border-0 shadow-none w-75">
                    <div class="card-body">
                        {% include 'pz/common/messages.html.twig' %}
                        <h3 class="text-center mb-3">{{ 'dockontrol.security.forgot_password.title'|trans  }}</h3>
                        <p class="text-center text-muted fw-light">{{ 'dockontrol.security.forgot_password.info'|trans }}</p>

                        <div class="row">
                            {{ form_start(form) }}
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="form-control-feedback form-control-feedback-start">
                                        {{ form_row(form.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-envelope me-2"></i> {{ 'dockontrol.security.forgot_password.button_text'|trans  }}
                        </button>
                        {{ form_end(form) }}

                        <div class="text-center mt-2">
                            <a href="{{ path('dockontrol_login') }}" class="nav-link show-underline-hover text-primary">
                                <i class="bi bi-arrow-left"></i> {{ 'dockontrol.security.forgot_password.return_login_text'|trans  }}
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
