{% extends 'pz/pz_base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block logincontent %}
    <div class="page-content">
        <div class="content container-md pt-0">
            <h1 class="text-center">{{ 'dockontrol.security.reset_password.title'|trans }}</h1>
            {{ form_start(form) }}
            <div class="card mb-0 border-0 shadow-none">
                <div class="card-body">
                    {% include 'pz/common/messages.html.twig' %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="form-control-feedback form-control-feedback-start">
                                    {{ form_row(form.password.first) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="form-control-feedback form-control-feedback-start">
                                    {{ form_row(form.password.second) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary w-100">{{ 'dockontrol.security.reset_password.btn_text'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}