<tr>
    <td>{{ apiLog.id }}</td>
    <td>{{ apiLog.dockontrolNode.name }}</td>
    <td>{{ apiLog.time.format('Y-m-d H:i:s') }}</td>
    <td>{{ apiLog.ip }}</td>
    <td>{{ apiLog.apiAction }}</td>
</tr>